:root {
  --bg: #f5f5f5;
  --bg2: rgb(249, 249, 249);
  --border: rgb(221, 221, 221);
  --green: green;
  --red: rgb(235, 27, 55);
  --blue: blue;
}

body {
  font-family: -apple-system, BlinkMacOSystemFont, 'Segoe UI', Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--bg);
}

.login__container,
.requests-page {
  max-width: 800px;
  margin: 80px auto;
  padding: 20px;
  box-sizing: border-box;
  background: var(--bg);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  color: var(--bg);
  border: none;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logout-btn {
  background: var(--red);
  width: auto;
  padding: 8px 16px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

.error {
  color: var(--red);
}

.wrapper {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.wrapper-block {
  background-color: var(--bg2);
  border: 1px solid var(--border);
  border-radius: 8px;
}

/************** страница логина****************/
.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login__form>div>label>input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login__form>button {
  width: 100%;
  background-color: var(--green);
}

/******Account ******************/
.account__block {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account__block>button {
  background-color: var(--blue);
}

.account__block>ul {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 50px;
}

/******Cards ******************/
.cards-errors {
  text-align: center;
  padding: 20px;
  color: var(--red);
}

.cards__block {
  display: grid;
  gap: 15px;
}

/********* Users **********************/

.users>button {
  background-color: var(--blue);
}

.users__list>div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.users__list>div>button {
  background-color: var(--green);
}

.users__list>ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.users__list>ul>li {
  width: 40%;

}

.users__list>ul>li>button {
  background-color: var(--green);
  display: flex;
  margin: 0 0 0 auto;
}

.actions {
  display: flex;
  gap: 10px;
}