:root {
  --bg: #f5f5f5;
  --bg2: rgb(249, 249, 249);
  --gray: #777;
  --border: rgb(221, 221, 221);
  --green: green;
  --red: rgb(235, 27, 55);
  --blue: blue;
}

body {
  font-family: -apple-system, BlinkMacOSystemFont, 'Segoe UI', Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--bg);
}

.login__container,
.requests-page {
  max-width: 800px;
  margin: 80px auto;
  padding: 20px;
  box-sizing: border-box;
  background: var(--bg);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;

}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}



select {
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  color: var(--bg);
  border: none;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logout-btn {
  background: var(--red);
  width: auto;
  padding: 8px 16px;
}

textarea {
  width: 100%;
  padding: 8px;
  border: "1px solid #ddd";
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.error {
  color: var(--red);
}

.wrapper {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.wrapper-block {
  background-color: var(--bg2);
  border: 1px solid var(--border);
  border-radius: 8px;
}

/************** страница логина****************/
.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login__form>div>label>input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login__form>button {
  width: 100%;
  background-color: var(--green);
}

/******Account ******************/
.account__block {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account__block>button {
  background-color: var(--blue);
}

.account__block>ul {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 50px;
}

/******Cards ******************/
.cards-errors {
  text-align: center;
  padding: 20px;
  color: var(--red);
}

.cards__block {
  display: grid;
  gap: 15px;
}

/********* Users **********************/

.users>button {
  background-color: var(--blue);
}


.users__list>div>button {
  background-color: var(--green);
}

.users__list>ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.users__list>ul>li {
  width: 40%;
}

.users__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.users__list>ul>li>button {
  background-color: var(--green);
  display: flex;
  margin: 0 0 0 auto;
}

.actions {
  display: flex;
  gap: 10px;
}

.create-user-form {
  background: "#f5f5f5";
  padding: "15px";
  margin-bottom: "20px";
  border-radius: "4px",
}

.user__form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  gap: 5px;
}

.create-user-form>h4 {
  margin: 10px 0;
  text-align: center;
}


.user__form-data {
  max-width: 500px;
  display: flex;
  margin: 0 auto;
  gap: 5px;

}

.user__form-data>li {
  width: 100%;
}

.user__form-data>.actions {
  display: flex;
  gap: 5px;
  width: auto !important
}

.create-user__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;

}

.create-user__form>li {
  width: 40%;
}

.create-user__form>.actions {
  display: flex;
  gap: 5px;
  /* width: auto !important;*/
  width: 350px;
}

/*****Заявки*********/

.applications {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.applications>span:first-child {
  color: var(--gray);
  font-size: 14px;

}

.applications>span:last-child {
  color: black;
  padding: 10px 0;
}

.applications>span {
  display: block;
}

.applications>label {
  font-size: 14px;
  color: var(--gray);
  display: block;
}

.applications__block {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: var(--gray);
  justify-content: space-between;
}

.download-link {
  margin: 3px 0 0 0;
  font-size: 14px;
  color: var(--red)
}

.downloadLink-block>p {
  margin: 0;
}

.downloadLink-block {
  transition: background-color 0.2s;
  padding: 8px;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.last-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.applications__card {
  display: grid;
  grid-template-columns: 1fr 0.3fr 0.3fr 0.3fr 1fr 0.3fr 0.3fr;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--bg2);
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 1 / 4 / 2 / 5;
}

.div5 {
  grid-area: 1 / 5 / 2 / 6;
}

.div6 {
  grid-area: 1 / 6 / 2 / 7;
}

.div7 {
  grid-area: 1 / 7 / 2 / 8;
}

.div8 {
  grid-area: 2 / 1 / 3 / 6;
  display: inline-block;
  max-width: 90%;
  overflow-wrap: break-word;
  word-break: break-word;
}

.application__edit {
  grid-area: 2 / 6 / 3 / 8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: end;
  gap: 10px;

}

.div10 {
  grid-area: 3 / 1 / 4 / 8;
  display: flex;
  gap: 10px;
  border-top: 1px solid var(--bg2);
  flex-direction: column;
  margin-top: auto;
}

.download-card {
  display: flex;
  margin-top: 5px;
}

.download-card>.downloadLink-block:not(:last-child) {
  margin-right: 5px;
}

/******Добавить заявку********/

.addApplication {
  margin-bottom: 20px
}

.addApplication__open {
  margin-top: 10px;
  padding: 20px;
  background-color: var(--bg2);
  border-radius: 4px;
  border: 1px solid var(--border)
}

.addApplication__open>form>div {
  margin-top: 15px
}

.addApplication__open>form>div>input {
  width: 100%,
}


.addApplication__open>div>label {
  display: block;
  margin-bottom: 5px;
  font-family: bold,
}

.addApplication__error {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px
}

.addApplication__buttons {
  display: flex;
  gap: 10px
}

.addApplication__buttons>button:first-child {
  background-color: var(--green);
}

.addApplication__buttons>button:last-child {
  background-color: var(--gray);
}

/*******загрузка файла************/

.upload {
  margin-bottom: 20px;
}

.upload>label {
  display: block;
  margin-bottom: 8px;
  font-weight: "bold";
}

.upload__showFileList {
  margin-top: 12px;
  padding: 12px;
  background-color: #e9f7ff;
  border: 1px solid #b3e0ff;
  border-radius: 6px,
}

.upload__showFileList>ul {
  margin: 8px 0 0 0;
  padding-left: 20px;
  list-style: "disc";
  overflow-y: "auto";
  max-height: 140px,
}

.upload__showFileList>ul>li {
  margin-bottom: 6px;
  word-break: break-all;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.upload__showFileList>button {
  margin-top: 10px;
  background-color: #ff4d4f,
}

.upload__showFileList>ul>li>span {
  color: var(--gray)
}

.upload__showFileList>ul>li>button {
  background-color: var(--red);
  flex-shrink: 0;
  padding: 5px;
  font-size: 12px;
}


.upload>input {
  display: block;
  width: 100%
}

.upload__error {
  margin-top: 8px;
  color: var(--gray);
}


@media (max-width: 667px) {
  .applications__card {
    display: flex;
    flex-direction: column;
  }

  .create-user__form>.actions {
    flex-direction: column;
    width: 150px;
  }

  .account__block>ul {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    row-gap: 10px;
    column-gap: 50px;
  }

  .users__list>ul {
    display: none;
  }

  .users__header>h3 {
    font-size: 16px;
  }
}


@media (max-width: 600px) {
  .users__header {
    flex-direction: column;
  }

  .create-user__form {
    justify-content: start;
    flex-direction: column;
  }
}